<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section>
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header text-center fs-4">
            Change Password page
            <th:block th:if="${session.successMsg}">
              <p class="text-center fs-4 text-success">[[${session.successMsg}]]</p>
              <!--<th:block th:text="${#session.removeAttribute('successMsg')}"></th:block>-->

            </th:block>
            <th:block th:if="${session.errorMsg}">
              <p class="text-center fs-4 text-danger">[[${session.errorMsg}]]</p>
              <!--<th:block th:text="${#session.removeAttribute('errorMsg')}"></th:block>-->

            </th:block>
          </div>
          <div class="card-body">
            <form action="updatePassword" method="post">

              <div class="mb-3">
                <label>Enter Old Password</label>
                <input type="text" name="oldPass" id="oldPass" class="form-control">
              </div>

              <div class="mb-3">
                <label>Enter New password</label>
                <input type="text" name="newPass" id="newPass" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary col-md-12">Change Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>