<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header text-center fs-4">
                            Forgot Password page
                            <th:block th:if="${session.msg}">
                                <p class="text-center fs-4 text-success">[[${session.msg}]]</p>

                            </th:block>
                        </div>
                        <div class="card-body">
                            <form action="forgotPassword" method="post">

                                <div class="mb-3">
                                    <label>Enter email</label>
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>

                                <div class="mb-3">
                                    <label>Enter Mobile Number</label>
                                    <input type="number" name="mobileNumber" id="mobileNumber" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-primary col-md-12">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>